#page1 {

    background-color: aquamarine;
}

#stopka_gora{
    text-align: center;
    margin: auto;

}

#stopka_dol{
    width: auto;
    margin: auto;
}

#myPanel {
    margin-left: 0px;
    min-width: 150px;
    max-width: 200px;
    color: purple;
    background: #2b2a2d;
}

.ui-icon-myapp-settings {
    background: url("../img/icon.png") no-repeat /*rgba(0, 0, 0, 0.4) !important*/;
    height: 29px;
    width: 9px;
}

#logo {
    text-align: center;

}


#data {
    font-family: sans-serif;
    font-size: 12px;
}

a link {
    color: purple;
}