<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id= "pl.nocinformatyka"
versionCode = "1"
version = "1.0" >
<name>Noc Informatyka</name>
<description>...czyli kulturalne wyjadanie klawiatury</description>
<author>Damian Plata, Damian Kowalik</author>
<access origin="http://nocinformatyka.pl" />
      <!--  <preference name="SplashScreen" value="background.9.png" />
        <preference name="SplashScreenDelay" value="10000" />   -->
       

	   <!--<gap:platform name="android" />-->
	<gap:plugin name="org.apache.cordova.dialogs" />
	<gap:plugin name="org.apache.cordova.splashscreen" />
      
      <!-- android -->
      <icon src="root/ic_launcher.png" platform="android"/>
      <splash src="root/splash.png" platform="android"/>
    
	<!-- windows -->
	   <icon src="root/ic_launcher.png" platform="winphone"/>
       <splash src="root/splash.png" platform="winphone" />
	
	<!-- ios -->
	   <icon src="root/ic_launcher.png" platform="ios"/>
	   <splash src="root/splash.png" platform="ios" />
      

</widget>
