body {
	background-color: #000000;
	font-family: monospace;
	color: #ffffff !important;
	text-shadow: none !important;
	letter-spacing: 1px;
	font-size: 1.3em;
	overflow: hidden;
}

#glowna {
	max-width: 100% !important;
	min-height: calc(100% - 88px) !important;
	height: calc(100% - 88px) !important;
	max-height: calc(100% - 88px) !important;
	top: 88px !important;
	padding: 0 !important;
}

.ui-panel-wrapper {
	min-height: calc(100% - 157px) !important;
	height: calc(100% - 157px) !important;
	max-height: calc(100% - 157px) !important;
	padding: 0 1%;
	z-index: 1000 !important;
	width: 98%;
	position: fixed;
}

#content {
	min-height: calc(100% - 157px) !important;
	height: 100% !important;
	max-height: 100% !important;
	width: 100%;
	position: relative;
	overflow: auto !important;
	padding: 0;
}

#top { 
	min-height: 88px !important;
	height: 13%;
	max-height: 13%;
	background-image: url("img/bg_top.jpg");
    	background-position: 0px 10%;
	background-repeat: no-repeat;
	background-size: cover;
	border: 0;
}

.ui-header-fixed {
    top: 0;
    padding-top: 0;
}

.ui-fixed-hidden {
    position: fixed;
}

.ui-panel-fixed-toolbar {
    overflow: hidden;
}

#bottom {
	height: 7%;
	min-height: 69px;
	background-image: url("img/bg_bot.jpg");
	background-position: 0px 20%;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	overflow: hidden;
	border: 0;
	z-index: 1003;
}

#menu-button{
	min-height: 88%;
	height: 88%;
	max-height: 88%;
	float: left;
	min-width: 1%;
	width: auto;
	max-width: 25.6%;
	border: none;
	margin: 0px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%) !important;
	left: 1.3%;
}

#menu-button a {
	display: block;
	min-height: 10%;
	height: 100%;
	max-height: 100%;
	width: auto;
}

#menu-button a img{
	
	max-width: 100%;
	height: auto;
	max-height: 100%;
	border-radius: 5px;
	
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%) !important;
}

#cogdziekiedy {
	border: 0;
	background-color: #000010;
	width: 100%;
	min-height: calc(100% - 157px) !important;
	height: calc(100% - 157px) !important;
	overflow: auto !important;
	position: fixed;
	left: 0;
	right: 0;
	top: 88px !important;
}

.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-right.ui-panel-display-push {
    
    top: 88px !important;
    -webkit-transform: translate3d(0,100%,0);
    -moz-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

@media screen and (orientation:landscape){
.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-right.ui-panel-display-push {
    
    top: 13% !important;
    -webkit-transform: translate3d(0,100%,0);
    -moz-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}
}

@media (min-height: 690px) {

#cogdziekiedy {
	min-height: 80% !important;
	height: 80% !important;
	top: 13% !important;
}

#glowna {
	top: 13% !important;
	min-height: 87% !important;
	height: 87% !important;
	max-height: 87% !important;
}

.ui-panel-wrapper {
	min-height: 80% !important;
	height: 80% !important;
	max-height: 80% !important;
}
/*
#content {
	min-height: 80% !important;
	height: 80% !important;
	max-height: 80% !important;
}*/
.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-right.ui-panel-display-push {
    
    top: 13% !important;
    -webkit-transform: translate3d(0,100%,0);
    -moz-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}
}

#dateplace {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 88%;
	font-size: 1.3em;
	text-align: right;
	margin: 0;
	padding: 0;
	margin-right: 7px;
	font-weight: 700;
	float: right;
	width: auto;
	border: none;
	max-width: 69% !important;
}

#dateplace p {
	height: 50%;
	line-height: 169%;
	vertical-align: middle;
	margin: auto;
	padding: 0;
}

.ui-footer-fixed.ui-fixed-hidden {
    display: block;
}

.ui-footer-fixed {
    bottom: 0;
    padding-bottom: 0
}

#nickwk {
	height: 100%;
	width: 100%;
	margin: auto;
}

#nickwk a {
	display: block;
	width: 100%;
	height: 100%;
	min-height: 69px;
}

#nickwk img{	
	display: block;
	margin: auto;
	max-width: 95%;
	height: auto;
	max-height: 88%;
	
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#menu {
	background-color: #103333;
	color: white;
	text-shadow: none;
	position: fixed;
	overflow: auto;
	overflow-x: hidden !important;
	height: 100%;
}

#menu ul {
	overflow: auto;
	background-color: #101010;
}

#menu a {
	color: white;
	border: none;
	font-family: monospace;
	text-decoration: none;
	font-weight: 600;
	font-size: 1.6em;
	padding: 0.32em 0;
}


.menu-top {
	background-color: #100000;
	padding: 7px 0 7px 13px !important;
}

.menu-top a {
	display: block;
	height: 10%;
	min-height: 40px;
	font-size: 0.7em !important;
	font-weight: normal;
	letter-spacing: 0;
	
}

.menu-top a p {
	font-size: 1.28em;
	line-height: 2em;
	margin: 0;
	padding-top: 3px;
}

#menu li {
	border: 0;
	box-shadow: 0 -2px 1px #10ffff;
	margin-bottom: 3px;
	padding: 7px 0 7px 13px;
}
#menu li:active {
	background-color: #100;
}

#net-error {
	position: fixed;
	bottom: 0;
	font-size: 11px;
	width: 100%;
	color: red;
	visibility: hidden;
}


/* resize lewego panelu */

#menu.ui-panel {
	min-width: 69%;
    width: 69%;
	max-width: 69%;
}

.ui-panel-page-content-position-left,
.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 69%;
    right: -69%;
}

.ui-panel-animate.ui-panel-page-content-position-left.ui-panel-page-content-display-reveal {
	left: 0;
	right: 0;
    -webkit-transform: translate3d(69%,0,0);
    -moz-transform: translate3d(69%,0,0);
    transform: translate3d(69%,0,0);
}